.container {
  height: 100vh;
  line-height: 24px;
  font-size: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.side {
  flex: none;
  --adm-font-size-main: 16px;
}

.side :global(.adm-side-bar-item-title) {
  color: rgba(0, 0, 0, 0.85);
}

.main {
  padding: 16px;
  flex: auto;
}

.content {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #cccccc;
}
.content .active {
  display: flex;
}

.item {
  margin-bottom: 12px;
}

.item-key {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.item-value {
  color: #697a8c;
  font-family: BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial,
    noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol,
    noto color emoji;
}
